body {
  font-size: 12pt;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  text-align: center;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

table td {
  padding: 0px;
  height: 30px;
  width: 150px;
}

table td input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 16px;
}

table tbody tr:nth-child(2n),
table tbody tr:nth-child(2n) input {
  background: #f5f4e0;
}

table tbody tr:hover {
  background: #674e7d;
  color: #f5f4e0;
}

#animalTA,
#typeTA {
  width: 520px;
  height: 250px;
  margin: auto;
}

.button {
  margin: 2px;
  width: 7rem;
  font-size: inherit;
  border: dotted #d2b8eb;
  border-radius: 3px;
  padding: auto;
  background-color: #f5f4e0;
}
.button:hover {
  background-color: #f5f4e0;
  /* border: solid #674e7d; */
  color: #674e7d;
  font-weight: 600;
}

.modal {
  /* hide  */
  opacity: 0;
  visibility: hidden;

  width: 100%;
  max-width: 500px;

  /*  center & z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* > overlay z-index*/

  /* sub */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

.overlay {
  /* hide  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal-item {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
  background-color: rebeccapurple;
}
.hint {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 300;
}
.modal-title {
  font-size: 1.2rem;
}
.modal-input,
option,
select {
  width: 10rem;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.div-report {
  text-align: center;
  margin: auto;
}

span {
  font-weight: 600;
}
